---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <h3>
        {% if post.description %}
        {{ post.description | truncatewords: 50 }}
        {% else %}
        {{ post.excerpt | strip_html | truncatewords: 50 }}
        {% endif %}
      </h3>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
