---
layout: default
---

<article class="post">
  <header>
  <h1>{{ page.title }}</h1>
  {% if page.description %}<meta name="description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once }}" />{% else %}<meta name="description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />{% endif %}
  </header>
  <section>
  <div class="entry">
    {{ content }}
  </div>
 </section>
  <footer>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  </footer>
  {% include disqus.html %}
</article>
